.apartments {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 38px;
	column-gap: 22px;
	margin-bottom: 45px;
}

.apartment-section {
	margin: 45px 0 60px;
}

@media ( max-width: 960px ) {
	.apartments {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media ( max-width: 576px ) {
	.apartments {
		grid-template-columns: auto;
	}
}